---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts reversed %}
      <div class="post {% if site.animated %}animated fade-in-down{% endif %}">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <div class ="post-image-block">
            <div class="post-text">
              <div class="post-text-number">{{post.number}}</div><br>
              <div class="post-text-title"> {{post.title}}</div>
            </div>
            <img class="post-image" src="{{post.image}}"/>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
